* {
  box-sizing: border-box;
}

.menu {
  float: left;
  width: 20%;
  text-align: center;
}

.menu a {
  background-color: #e5e5e5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
}

.right {
  background-color: #e5e5e5;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url();

}
.logo{
  width: 9em;
  height: 2em;
}
.navbar{
  margin: 0;
  left: 0;
  right: auto;
  width: 1920px;
  position: sticky;

}

.centrato {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-white{
  color: white;
}
.bg-nav{
  background-color: 	#68103e;
}
.bg-footer{
  background-color: #cc0000;
}
.testo{
  text-align: justify;
  background-color: white;  
}
.testo-centrato{
  text-align: center;
}
.navbar-statica{
  position: static;
}
.link{
  color: white;
  text-decoration: none;
}
.link:hover{
  color: lightgray;
  
}
.link-navbar{
  margin-left: 9rem;
}

.img-pg{
  margin-left: -10em;
  margin-top: 7em;
}
.informazioni{
  margin-right: 10em;
}
.contenuto{
  margin-left: -20rem;
  margin-right: -350px;

  
}
.immagine{
  margin-top: 8rem;
}
.magdalene{
  margin-left: -10rem;
}

.nome-pg{
  margin-top: 17rem;
  margin-left: 9rem;
  font-size: 65pt;
  font-weight:bold;
  text-align: center;
  justify-content: center;
}
.descrizione-pg,.lore-pg{
  font-size: 20pt;
}
.lore-pg{
  padding-top: 1rem;
}
.statistiche-pg{
  margin-top: 8rem;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: 4rem;
}
.footer {
  height: 100px;
}



.lore-descrizione{
  padding-bottom: 2rem;
}
.testo-footer{
  align-items: center;
  margin-top: 20px;
}
.card{
  padding: 2rem;
  margin-top: 7rem;
  margin-right: 3.5rem;
  margin-left: 3.5rem;
}
.card-img-top{
  height: 229px;
}
.card-title{
  font-size: 24pt;
}
.card-text{
  font-size: 16pt;
}
.btn-card-isaac{
  margin-bottom: -1rem;
}
.btn-card-magdalene{
  margin-bottom: -1rem;
}
.btn-card-azazel{
  margin-bottom: -1rem;
}
.btn-card-lost{
  margin-bottom: -1rem;
}
.bg-grey{
  background-color: #979797;
}
.bg-lightgrey{
  background-color: #CBCBCB;
}
.text-yellow{
  color: yellow;
}
.text-black{
  color: black;
}
.bg-black{
  background-color: black;
}
.bg-darkgrey{
  background-color: #333333;
}
.intestazione-pg{
  width: auto;
  text-align: center;
  border-radius: 2em;
}
.intestazione{
  margin-top: 7rem;
  text-align: center;
}
.immagine-home{
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.nome-home{
  font-weight: normal;
  font-size: 32pt;
  border: 5px solid red;
}

.w3-display-middle- {
  position: absolute;
  top: 36%;
  left: 52%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.personaggi-pagina{
  margin-top: 2rem;
  border: 10px solid;
}
.row-pg{
  margin-bottom: 3rem;
}
.text-white-centrato{
  color: white;
  align-items: center;
  text-align: center;
  font-size: 50pt;
}
.personaggio-testo{
  text-align: justify;
  margin-top: 2rem;
}
.text-red{
  color: rgb(184, 33, 10);
}
.hr-white {
  margin-top: -1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid white;
}
.immagine-pg{
  margin-left: 6rem;
}
.info-game{
  margin-left: 3rem;
  margin-bottom: 4rem;
}
.btn-nav{
  max-width: 8rem;
  text-align: center;
}
.titolo-tarocco{
  margin-top: 8rem;
  color: red;
  font-size: 27pt;
}
.tarocchi{
  max-width: 80%;
  margin-top: 5rem;
  position: relative;
  text-align: center;

}
.tarocchi-div{
  text-align: center;
}
.tarocchi-testo{
  font-size: xx-large;
  text-align: center;
}

.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: white;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 20px 38px 18px;
  text-decoration: none;
  cursor: pointer;
  background: #333333;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  bottom: 0;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
.img-room{
  width: 100%;
}
.hr-stanze{
  border-top: 1px solid white;
} 
.nomi-stanze{
  font-size: 23pt;
}
.titolo-stanze{
  color: #68103e;
}
.title-room{
  margin-top: 5rem;
}
.description-room{
  margin-top: 1rem;
  padding-bottom: 4rem;
}
.title-boss{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.title-obj{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.btn-obj{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  margin-left: 20.5rem;
}
.btn-link{
  color: white;
}
.btn-link:hover{
  color: #babad1;
}